@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  * {
    font-family: 'Inter' !important;
    @apply !font-primary;
  }

  h1,
  h2 {
    @apply text-slate-700;
  }

  .cursor-newtab {
    cursor:
      url('/images/new-tab.png') 10 10,
      pointer;
  }

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .study-faq[aria-expanded='true'] {
    @apply bg-sky-50;
  }
}

@layer components {
  .debug {
    @apply border border-red-500;
  }

  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .horizontal.center-v {
    @apply items-center;
  }

  .horizontal.center-h {
    @apply justify-center;
  }

  .horizontal.center {
    @apply items-center justify-center;
  }

  .vertical.center-v {
    @apply justify-center;
  }

  .vertical.center-h {
    @apply items-center;
  }

  .vertical.center {
    @apply items-center justify-center;
  }

  .space-between {
    @apply justify-between;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
  .hero-cropped-clip-path {
    clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

.overlay {
  background: linear-gradient(0deg, var(--color-primary-700), transparent);
}

.xyz {
  position: absolute;
  bottom: 85px;
  left: calc(68% - 12px);
  z-index: 4;
  width: 240px;
}

.xyz:after {
  content: '';
  position: absolute;
  bottom: -34px;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 28px 16.5px 0 16.5px;
  transform: rotate(0deg);

  @apply border-b-transparent border-l-transparent border-r-transparent border-t-blue-400;
}

.zyx {
  position: absolute;
  top: 85px;
  left: calc(36% - 12px);
  z-index: 4;
  width: 240px;
}

.zyx:after {
  content: '';
  position: absolute;
  top: -34px;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 28px 16.5px 0 16.5px;
  transform: rotate(180deg);

  @apply border-b-transparent border-l-transparent border-r-transparent border-t-blue-600;
}
